<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{/movies-stylesheet.css}" rel="stylesheet">
    <title>Movie Rating System</title>
</head>
<body style="background-color:powderblue;">
    <h1>QuickFlix</h1>
    <h3>Add a Movie</h3>
    <div>
        <form th:action="@{/movies/add}" th:object="${newMovie}" method="post">
            <input type="text" th:field="*{title}" placeholder="Title" required />
            <input type="text" th:field="*{genre}" placeholder="Genre" required />
            <input type="date" th:field="*{releaseDate}" placeholder="Release Date" required />
            <input type="number" th:field="*{rating}" placeholder="Rating" min="1" max="5" required />
            <button type="submit">Add</button>
        </form>
    </div>
    <h2>My Movies</h2>
    <div class="container">
        <table>
            <tr class="head">
                <th>Title</th>
                <th>Genre</th>
                <th>Release Date</th>
                <th>Rating</th>
                <th> </th>
                <th> </th>
            </tr>
            <tr style=background-color:aliceblue th:each="movie : ${movies}">
                <td th:text="${movie.title}"></td>,
                <td th:text="${movie.genre}"></td>,
                <td th:text="${movie.releaseDate}"></td>,
                <td th:text="${movie.rating}"></td>
                <td><a th:href="@{/movies/edit/{id}(id=${movie.id})}">Edit</a></td>
                <td><a th:href="@{/movies/delete/{id}(id=${movie.id})}" onclick="return confirm('Are you sure?')">Delete</a></td>
            </tr>
        </table>
    </div>

</body>
</html>
